.btn {
  background: #345511;
  border: 2px solid #dcfffd;
  width: 70px;
  height: 30px;
  margin: 10px;
  border-radius: 7px;
  color: white;
  font-weight: 800;
  transition: 0.2s;
}
.btn:hover {
  border: 2px solid #345511;
  background-color: #dcfffd;
  color: black;
  cursor: pointer;
  width: 75px;
}
